{% extends "catalog/base.html" %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <main>
            <div class="row">
                {% for category in object_list %}
                    <div class="col-12">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">{{ category.category_name }}</h5>
                                <p class="card-text">{{ category.description }}</p
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}
