{% extends "catalog/base.html" %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Добавление продукта
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success" href="{% url 'catalog:product_create' %}">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Создать продукт
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                Версия
                                <div class="card-body">
                                    {{ formset.management_form }}
                                    {% for form in formset.forms %}
                                        {{ form.as_p }}

                                    {% endfor %}

                                </div>
                            </div>
                            </main>
                        </div>
{% endblock %}