{% extends "catalog/base.html" %}
{% load my_tags %}
{% block content %}
 <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Товары</h1>
            </div>
        </header>
        <main>
            <div class="row">
                {% for product in products %}
                <div class="col-4">
                    <div class="card" style="width: 100%;">
                        <img src="{{ product.image|media_url }}" alt="" style="max-width: 10%;">
                        <div class="card-body">
                            <h5 class="card-title">{{product.product_name|truncatechars:100}}</h5>
                            <p class="card-text">{{product.description|truncatechars:100}}</p>
                            <a href="/product/{{product.pk}}" class="btn btn-primary">Купить</a>
                            <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-outline-success">Изменить</a>
                            <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-outline-danger">Удалить</a>
                             {% if product.active_version %}
                            <p>{{product.active_version.version_name}}</p>
                            {% else %}
                                 <p>нет активной версии</p>
                             {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
             <div class="col-12">
                    <a class="btn btn-primary" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
                </div>

            </div>
        </main>
    </div>
{% endblock %}
